# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# MediaPipe models (скачиваются download_models.py)
backend/cv_processor/models/*.task

# Env
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
